<h2 class="text-center" ng-style='{"padding-top": "50px"}'></h2>

<div ng-controller="MainController as mc" class="container">


    <table class="table">
        <tr ng-repeat="item in mc.dummyItems.slice(((mc.currentPage-1)*mc.itemsPerPage), ((mc.currentPage)*mc.itemsPerPage))" ng-style='{"color": "white"}'>
            <td>{{item}}</td>
        </tr>
    </table>
    <uib-pagination template-url="components/directives/pagination.html" total-items="mc.totalItems" ng-model="mc.currentPage" max-size="mc.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="mc.numPages" items-per-page="mc.itemsPerPage"></uib-pagination>

</div>
